################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RosellaRepl/.vs/RosellaRepl/v16/Server/sqlite3
