################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RosellaInterpreter/.vs
/RosellaInterpreter/RosellaRepl/obj
/RosellaInterpreter/RosellaRepl/bin
/RosellaInterpreter/RosellaInterpreter/obj
/RosellaInterpreter/RosellaInterpreter/bin
/RosellaInterpreter/.vs
/.vs
/RosellaInterpreter/packages
/RosellaInterpreter/RosellaAstGenerator/bin/Debug
/RosellaInterpreter/RosellaAstGenerator/obj/Debug
/RosellaInterpreter/RosellaTests/bin/Debug
/RosellaInterpreter/RosellaTests/obj/Debug
